/******************************************
/* CSS
/*******************************************/
:root{
  --spacing: 2em;
}
/* Box Model Hack */
*{
  box-sizing: border-box;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/******************************************
/* LAYOUT
/*******************************************/

body{
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 17%, rgba(0,212,255,1) 100%);
}
img{
  display: block;
  margin: 0 auto;
}
.main{
  display:flex;
  justify-content: space-evenly;
}
.formcontainer{
  display:flex;
  margin-top:2em;
  margin-left:10em;
  padding-block:2em;
  padding-left:1em;
  padding-right:1em;
  text-align: right;
  width:20em;
  background:white;
  border-radius: 0.5em;;
}
.form{
  display:grid;
  margin:auto;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  text-align: center;
  font-size:1.5em;
  padding-right:1.5rem;
}
input{
  width:80%;
  text-align:center;
  border-radius: 0.3rem;
}
.submit{
  display:flex;
  flex-wrap: wrap;
  grid-column:2;
  width:100%;
  text-align:center;
  margin:auto;
}
.wrapper{
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:2em;
  text-align:center;
}

.maindisplay{
  background-color:rgba(169, 49, 153, 0.644);
  font-size:3rem;
  margin-left:0.67em;
  margin-bottom:0.5em;
  border-radius: 0.2em;
}
.maindisplay__text{}
.maindisplay__image{}
.griddisplay{
  background-color: rgb(46, 25, 66);
  display:grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(2,1fr);
  padding-top:0.6em;
  padding-left:1em;
  padding-right:1em;
  margin-left:2em;
  position:relative;
  overflow-x: scroll;
  border-radius: 0.5em;
}
.griddisplay__panel{
  background-color:rgba(0, 136, 255,0.5);
  border:2.5px solid rgba(99, 182, 255, 0.5);
  height:10em;
  width:258px;
  display:flex;
  justify-content: center;
  border-radius: 0.7em;
  margin-top:1em;
  margin-left:0.5em;
  margin-right:0.5em;
  color:rgba(0,0,0,1);
  position: relative;
}
.griddisplay__panel:before{
  content:'';
  box-shadow: inset 0 0 60px rgba(255, 255, 255, .5);
  filter: blur(10px);
  position:absolute;
  height:100%;
  width:100%;
  
}
.griddisplay__panel>span{
  display:flex;
  align-items: center;
  font-size:1.7rem;
  text-transform: capitalize;
}
.image-wrapper{
  background:white;
  padding:2em;
  margin-top:2rem;
  border-radius:1.25rem;
}
.image{
  margin-top:2em;
  max-height:500px;
  max-width:500px;
  border-radius:1.25rem;
  box-shadow: 4px 4px 4px rgba(0, 136, 255,0.5)
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden{
  visibility: hidden;
}